[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "{{ python_package_distribution_name }}"
description = "Description"
authors = [
    {name = "Paylocity Data Engineering", email = "de@paylocity.com"}
]
license = {text = "MIT"}
readme = "README.md"
requires-python = "{{ python_package_requires_python }}"
dependencies = [
    "apache-airflow-providers-snowflake==5.0.1",
    "apache-airflow==2.7.2",
    "dbt-snowflake>=1.7.1",
    "astronomer-cosmos>=1.3.1",
]
dynamic = ["version"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3"
]

[project.urls]
Repository = "https://github.com/Paylocity/de-transformer"
Homepage = "https://github.com/Paylocity/de-transformer"

[tool.pdm.version]
source = "scm"

[tool.pdm.build]
package-dir = "src"

[tool.pdm.dev-dependencies]
test = [
    "pytest>=6.1",
]
dev = [
    "towncrier>=19.2",
    "parver>=0.3",
]
[tool.pdm.scripts]
release = "python -m tasks.release"
test = "pytest tests/"
lint = "pre-commit run --all-files"

[tool.black]
line-length = 100
target-version = ["py37", "py38", "py39", "py310"]

[tool.ruff]
line-length = 100
select = [
  "B",    # flake8-bugbear
  "C4",   # flake8-comprehensions
  "E",    # pycodestyle
  "F",    # pyflakes
  "PGH",  # pygrep-hooks
  "RUF",  # ruff
  "W",    # pycodestyle
  "YTT",  # flake8-2020
]
extend-ignore = ["B018", "B019"]
src = ["src"]
extend-exclude = ["tests/fixtures"]
target-version = "py37"

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.isort]
known-first-party = ["{{python_package_import_name}}"]

[tool.mypy]
follow_imports = "silent"
ignore_missing_imports = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
disallow_untyped_decorators = true
namespace_packages = true
mypy_path = "src"
explicit_package_bases = true

[tool.isort]
profile = "black"
atomic = true
skip_glob = ["*/setup.py"]
filter_files = true
known_first_party = ["{{python_package_import_name}}"]

[tool.pytest.ini_options]
filterwarnings = [
  "ignore::DeprecationWarning"
]
