# {{ project_name }}

[![Tests](https://github.com/Paylocity/de-transformer/workflows/Tests/badge.svg)](https://github.com/Paylocity/de-transformer/actions?query=workflow%3Aci)
[![pypi version](https://img.shields.io/pypi/v/de-transformer.svg)](https://pypi.org/project/de-transformer/)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
[![pdm-managed](https://img.shields.io/badge/pdm-managed-blueviolet)](https://pdm.fming.dev)

DESCRIPTION

## Requirements

{{ project_name }} requires Python 3.11
